# fly.toml app configuration file generated for discord-bd-bot on 2023-10-28T17:49:42+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "discord-bd-bot"
primary_region = "mad"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
